.. _contribute:

Contribute to {{ project }}
===========================

Thank you for your interest in contributing to {{ project }}!

.. TODO: Add your contribution guidelines here. For inspiration, see the
   Canonical Open Documentation Academy:
   https://github.com/canonical/open-documentation-academy